<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />

  <!-- no limitation robot motion -->
  <param unless="$(arg limited)" 
	name="robot_description" 
	command="$(find xacro)/xacro 
			'$(find almasim)/launch/erc_robot.urdf.xacro' 
			transmission_hw_interface:=$(arg transmission_hw_interface)" 
  />

  <!-- joint limited robot motion -->
  <param if="$(arg limited)" 
	name="robot_description" 
	command="$(find xacro)/xacro 
			'$(find almasim)/launch/erc_joint_limited_robot.urdf.xacro' 
			transmission_hw_interface:=$(arg transmission_hw_interface)" 
  />

</launch>
