<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur3" >
  <!-- mechanical transmission parameters -->
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <!-- robot positioning parameters -->
  <xacro:arg name="joint_x" default="0"/>
  <xacro:arg name="joint_y" default="0"/>
  <xacro:arg name="joint_z" default="0"/>
  <xacro:arg name="joint_R" default="0"/>
  <xacro:arg name="joint_P" default="0"/>
  <xacro:arg name="joint_Y" default="0"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur3 macro inclusion -->
  <xacro:include filename="$(find almasim)/launch/UR3_assembler.urdf.xacro" />

  <!-- arm spawn-->
  <xacro:ur3_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />


  <!-- constraints-->
  <link name="world" />

  <joint name="base_link_fix_location" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 -0.052 -0.42" rpy="0.0 0.0 1.570796 " />
  </joint>

  <!-- z value of joint same as height of robot base plane
	y value range: [-0.056 -0.048]=[farest closest] to the panel   -->

</robot>
